// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$maizeColor: #ffcb05;
$tanColor: #dcc699;

$blueColor: #00274c;
$altBlueColor: #40658f;
$lightBlueColor: #8ec4f8;
$blueGrayColor: #455a64;
$darkBlueColor: #1e2a33;

$gray1Color: #ececec;
$gray2Color: #bdbdbd;
$gray3Color: #7f7f7f;
$gray4Color: #202020;

$blackColor: #000;
$black1Color: #1b1b1b;
$black2Color: #0e0e0e;

$purpleColor: #684FA1;
$mediumPurpleColor: #4d3488;
$darkPurpleColor: #392171;
$orangeColor: #E85F31;

$panelBorder: $gray3Color;
$activeMenuItemBgColor: $gray4Color;
$bodyColor: white;

$btnBgColor: $black1Color;
$btnHoverBgColor: $gray4Color;

$formBtnBgColor: $black1Color;
$formBtnColor: white;
$formBtnHoverBgColor: $gray4Color;

$skinBlack: $gray2Color;
$panelHeaderBck: $gray4Color;
$skinBlackLight: $gray3Color;
$textGray: $black1Color; //white;

$skinTextColor: $gray4Color;
$skinTextActiveColor: $gray3Color;
$skinTextTable: $gray3Color;
$skinHeaderBck: $black1Color;
$tableTextColor: $black1Color;

$siteTitleColor: white;
$siteTitleBgColor: $black2Color;

@import "active_admin_flat_skin";

#site_title a {
  color: $siteTitleColor !important;
}

#header.header .site_title {
  background-color: $siteTitleBgColor;
}

.title_bar#title_bar {
  background-color: $gray2Color;
}

.title_bar#title_bar h2 {
  color: $black1Color;
}

html table.index_table td {
  color: $tableTextColor;
  font-size: 1.2em;
}

#header #tabs {
  height: 92%;
}

.header#header .header-item.tabs#tabs li a {
  font-weight: bold;
}

#header.header #tabs.header-item.tabs li.current,
#header.header #tabs.header-item.tabs li.current a {
  background-color: $activeMenuItemBgColor;
}

html #header a, html #header a:link {
  font-weight: bold;
  font-size: 1.8rem;
}

.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
  color: $gray4Color;
  text-decoration: none;
  font-size: 1.2em;
}

.breadcrumb .breadcrumb_sep {
  margin: 0 2px;
  color: $gray4Color;
  font-size: 1.2em;
}

.header#header .header-item.tabs#tabs li.current.has_nested .slided_down .current a {
    color: $orangeColor !important;
}

html #footer p:first-child {
  display: none !important;
}

#diplay-filter {
  background-color: $btnBgColor;
  color: white;
  border-color: $btnBgColor;
}

html #title_bar .action_items a {
  background-color: $btnBgColor !important;
  color: white !important;
  border-color: $btnBgColor !important;
}

html #title_bar .action_items a:hover {
  background-color: $btnHoverBgColor !important;
}

html .download_links a {
  color: $blackColor;
}

html form input[type=submit], html a.button, html a.button:link, html a.button:visited {
  background-color: $formBtnBgColor;
  color: $formBtnColor
}

html form input[type=submit]:hover, html a.button:hover, html a.button:link:hover, html a.button:visited:hover {
  background-color: $formBtnHoverBgColor !important;
}

.header#header .header-item.tabs#tabs li.current.has_nested .slided_down .current a {
  color: white !important;
}

.header#header .header-item.tabs#tabs li.has_nested ul.slided_down li:hover a {
  color: $bodyColor !important;
}

.panel h3, .sidebar_section.panel h3 {
  color: $bodyColor !important;
}
